{% extends "base.html" %}

{% block title %}ShopBase | Home{% endblock %}

{% block content %}
    <h2 style="text-align: center; margin-bottom: 40px; color: #333;">Featured Products</h2>
    
    <div class="product-grid">
        {% for product in products %}
        <div class="product-card">
            <img src="{{ url_for('static', filename='product_images/' + product.image_filename) }}" alt="{{ product.name}} image">
            <div class="product-info">
                <h3 class="product-name">{{ product.name }}</h3>
                <p class="price">${{ "%.2f"|format(product.price) }}</p>
                
                {# Form submission to trigger POST request to add_to_cart #}
                <form action="{{ url_for('add_to_cart', image_filename=product.image_filename) }}" method="POST" style="display: inline-block;">
                    <button type="submit" class="add-to-cart-btn">Add to Cart</button>
                </form>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}